
<div class='comment clearfix'>
    <div class='comment_context'>
        <p class='comment_name'><st><%= comment.name %></st></p>
        <p class='comment_body'><%= comment.body %></p>
        <p class='comment_title'><%= time_ago_in_words(comment.created_at) %> Ago</p>
    </div>
</div>